{% extends "layouts/main.njk" %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t('start:pageTitle') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ t('start:title') }}
  </h1>

  <a href="/authenticated/name">Authenticated</a>
  <a href="/unauthenticated/name">Unauthenticated</a>
{% endblock %}
